-i https://pypi.org/simple
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
flask-httpauth==3.3.0
flask-sqlalchemy==2.4.1
flask==1.1.1
httpie==1.0.3
idna==2.9
itsdangerous==1.1.0
jinja2==2.10.1
markupsafe==1.1.1
pygments==2.4.2
python-dateutil==2.8.0
requests==2.23.0
six==1.14.0
sqlalchemy==1.3.9
urllib3==1.25.9
werkzeug==0.16.0
